@model List<AspNetCoreMVCPractice.Models.Species>

@{
    ViewData["Title"] = "Especies"; // Esto es una buena práctica para el título de la página
}
<div class="index_Basic">
    <h3>Especies</h3>
    <a asp-action="Create" class="btn btn-primary">Nueva especie</a>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Estatus</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var species in Model)
        {
            <tr>
                <td>@species.Name</td>     
                <td>
                    @if (species.Status == true)
                    {
                        <span class="badge bg-success user-select-none">Activo</span>
                    }
                    else
                    {
                        <span class="badge bg-danger user-select-none">Inactivo</span>
                    }
                </td>   
                <td>
                    <a asp-action="Edit" asp-route-id="@species.Id">Editar</a>
                    <form asp-action="DeleteSpecies" asp-route-id="@species.Id" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <button type="submit" onclick="submitDeleteForm(event)" class="btn btn-link p-0">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
