@model AspNetCoreMVCPractice.Models.Items

@{
    Layout = "_Layout";
}
<html lang="es">
<head>
    <title>Overview</title>
</head>
<body>
<div>
    <p>Este es el el nombre del item: @Model.Name</p>
</div>
</body>
</html>